@import url("common.css");
@import url("slideshow.css");
#first-article-first-text {
    font-weight: lighter;
    line-height: 1.333;
    font-size: 1.728rem;
    color: #bbb;
}

#first-article-second-text {
    font-weight: lighter;
    line-height: 1.333;
    font-size: 1.2rem;
}

#visit-our-school {
    text-align: center;
    background-color: #eee;
    padding: 80px;
    margin-bottom: 2em;
}

#visit-our-school p {
    text-align: left;
    margin-bottom: 2em;
    font-size: 1.25em;
}

#visit-our-school a {
    color: #a51417;
    border: #a51417;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    font-size: 1rem;
    line-height: 1.1;
    padding: 8px 20px;
}

#column-view {
    display: flex;
}

.column {
    width: 50%;
    padding: 16px;
    font-size: 1em;
}

.column .inner-div {
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    padding: 19px 24px;
}

.column-header {
    background-color: #2b8282;
    padding: 19px 24px;
}

.column h3 {
    text-align: left;
    color: white;
    font-size: 1.25em;
}

.column a {
    color: #a51417;
    text-decoration: underline;
    display: block;
    padding-left: 24px;
    margin-bottom: 1em;
    font-size: 1.25em;
}

.column a.inline {
    color: #a51417;
    text-decoration: underline;
    display: inline;
    padding-left: 3px;
    margin-bottom: 0em;
    font-size: 1em;
}

.entry__category a {
    font-size: 1em;
    color: #555;
}

article h2 {
    font-size: 1.25rem;
}

.column article a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.column article {
    margin-top: 1em;
    margin-bottom: 1em;
}

main hr {
    border: none;
    background-color: #eee;
    height: 1px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


.grid-row {
    display: flex;
    flex-wrap: wrap;
    /* margin: -10px; */
    margin: 1em;
    padding: 1em;
}

.grid-item {
    background-color: #f9f9f9;
    /* margin: 10px; */
    /* padding: 20px; */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 1;
    /* min-width: 250px; */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* flex: 1 0 150px; */
    margin: 10px;
    min-width: 175px;
    padding: 20px;
}

.grid-item img {
    width: 150px;
}

.grid-item h2, .grid-item h3 {
    font-size: 1.5em;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.main {
    position: relative;
    z-index: 1;
}

a.grid-item {
    text-decoration: none;
    color: inherit;
}
a.grid-item:hover {
    text-decoration: none; 
}
